# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Node
node_modules/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.vite/
.vercel/
.next/

# Environment variables
.env
deploy.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# DB
*.sqlite
*.db

# bins
*.exe
backend/out.log
