@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.65rem;

  /* accent */
  --accent: oklch(0.3515 0.0059 258.35);
  --accent-opposite: oklch(0.9674 0.0013 286.38);
  --accent-pale: oklch(0.9674 0.0013 286.38);
  --accent-pale-hover: oklch(0.9363 0.0011 197.14);
  --accent-pale-pressed: oklch(0.8538 0.0047 258.33);

  /* background / surface */
  --backdrop: oklch(0.2273 0.0038 286.09);
  --background: oklch(1 0 0);
  --background-alt: oklch(0.9674 0.0013 286.38);
  --background-section-02: oklch(0.7872 0.0157 260.73);
  --elevation-01: oklch(1 0 0);
  --elevation-01-hover: oklch(0.4097 0.0992 257.19 / 8%);
  --elevation-02: oklch(1 0 0);
  --elevation-03: oklch(0.3695 0.0381 260.5);

  /* border */
  --border: oklch(0.8538 0.0047 258.33);
  --border-muted: oklch(0.8538 0.0047 258.33 / 50%);
  --border-hover: oklch(0.645 0.0088 253.89);
  --border-focus: oklch(0.7052 0.1618 292.33);
  --border-negative: oklch(0.6371 0.2104 28.54);
  --border-pale: oklch(0.9363 0.0011 197.14);
  --border-pressed: oklch(0.2273 0.0038 286.09);
  --border-transparent: oklch(0.171 0.0493 250.69 / 12.2%);

  /* semantic */
  --negative: oklch(0.6371 0.2104 28.54);
  --negative-pale: oklch(0.9394 0.0288 22.95);
  --positive: oklch(0.701913 0.15768 160.4375);
  --positive-pale: oklch(0.9498 0.0516 163.63);

  /* brand palette */
  --categorical-23: oklch(0.9216 0.1486 98.31);
  --education-green-pale: oklch(0.937 0.0973 160.85);
  --expert-blue: oklch(0.5139 0.267 282.44);
  --expert-blue-pale: oklch(0.8846 0.0589 286.19);
  --expert-orange-pale: oklch(0.938567 0.036563 55.3623);
  --optimistic-t-yellow-pale: oklch(0.9755 0.0717 103.38);
  --sure-blue-pale: oklch(0.949 0.0269 241.15);
  --sure-blue-transparent: oklch(0.9764 0.0133 233.74);
  --sure-pink-pale: oklch(0.9464 0.0335 341.02);

  /* text */
  --fg-education-green: oklch(0.4276 0.1035 154.38);
  --fg-expert-blue: oklch(0.5139 0.267 282.44);
  --fg-expert-orange: oklch(0.3887 0.1372 29.74);
  --fg-sure-pink: oklch(0.4178 0.1573 3.69);
  --fg-negative: oklch(0.5003 0.1821 29.51);
  --fg-optimistic-t-yellow: oklch(0.4224 0.0911 57.49);
  --fg-positive: oklch(0.512849 0.109955 163.5649);
  --fg-primary: oklch(0.2273 0.0038 286.09);
  --fg-muted: oklch(0.2273 0.0038 286.09 / 50%);
  --fg-primary-on_dark: oklch(1 0 0);
  --fg-primary-opposite: oklch(1 0 0);
  --fg-secondary: oklch(0.4797 0.0082 248);
  --fg-secondary-transparent: oklch(0.1391 0.0146 260.73 / 65.1%);
  --fg-sure-blue: oklch(0.3878 0.0924 244.81);
  --fg-sure-pink: oklch(0.4178 0.1573 3.69);
  --fg-tertiary: oklch(0.645 0.0088 253.89);
  --fg-hover: oklch(0.4797 0.0082 248);
  --fg-tertiary-hover: oklch(0.8538 0.0047 258.33);
}

.dark {
  --accent: oklch(0.3515 0.0059 258.35);
  --accent-opposite: oklch(0.9674 0.0013 286.38);
  --accent-pale: oklch(0.9674 0.0013 286.38);
  --accent-pale-hover: oklch(0.9363 0.0011 197.14);
  --accent-pale-pressed: oklch(0.8538 0.0047 258.33);

  --backdrop: oklch(0.2273 0.0038 286.09);
  --background: oklch(1 0 0);
  --background-alt: oklch(0.9674 0.0013 286.38);
  --background-section-02: oklch(0.7872 0.0157 260.73);
  --elevation-01: oklch(1 0 0);
  --elevation-01-hover: oklch(0.4097 0.0992 257.19 / 8%);
  --elevation-02: oklch(1 0 0);
  --elevation-03: oklch(0.3695 0.0381 260.5);

  --border: oklch(0.8538 0.0047 258.33);
  --border-muted: oklch(0.8538 0.0047 258.33 / 50%);
  --border-hover: oklch(0.645 0.0088 253.89);
  --border-focus: oklch(0.7052 0.1618 292.33);
  --border-negative: oklch(0.6371 0.2104 28.54);
  --border-pale: oklch(0.9363 0.0011 197.14);
  --border-pressed: oklch(0.2273 0.0038 286.09);
  --border-transparent: oklch(0.171 0.0493 250.69 / 12.2%);

  --negative: oklch(0.6371 0.2104 28.54);
  --negative-pale: oklch(0.9394 0.0288 22.95);
  --positive: oklch(0.701913 0.15768 160.4375);
  --positive-pale: oklch(0.9498 0.0516 163.63);

  --categorical-23: oklch(0.9216 0.1486 98.31);
  --education-green-pale: oklch(0.937 0.0973 160.85);
  --expert-blue: oklch(0.5139 0.267 282.44);
  --expert-blue-pale: oklch(0.8846 0.0589 286.19);
  --expert-orange-pale: oklch(0.938567 0.036563 55.3623);
  --optimistic-t-yellow-pale: oklch(0.9755 0.0717 103.38);
  --sure-blue-pale: oklch(0.949 0.0269 241.15);
  --sure-blue-transparent: oklch(0.9764 0.0133 233.74);
  --sure-pink-pale: oklch(0.9464 0.0335 341.02);

  --fg-education-green: oklch(0.4276 0.1035 154.38);
  --fg-expert-blue: oklch(0.5139 0.267 282.44);
  --fg-expert-orange: oklch(0.3887 0.1372 29.74);
  --fg-sure-pink: oklch(0.4178 0.1573 3.69);
  --fg-negative: oklch(0.5003 0.1821 29.51);
  --fg-optimistic-t-yellow: oklch(0.4224 0.0911 57.49);
  --fg-positive: oklch(0.512849 0.109955 163.5649);
  --fg-primary: oklch(0.2273 0.0038 286.09);
  --fg-muted: oklch(0.2273 0.0038 286.09 / 50%);
  --fg-primary-on_dark: oklch(1 0 0);
  --fg-primary-opposite: oklch(1 0 0);
  --fg-secondary: oklch(0.4797 0.0082 248);
  --fg-secondary-transparent: oklch(0.1391 0.0146 260.73 / 65.1%);
  --fg-sure-blue: oklch(0.3878 0.0924 244.81);
  --fg-sure-pink: oklch(0.4178 0.1573 3.69);
  --fg-tertiary: oklch(0.645 0.0088 253.89);
  --fg-hover: oklch(0.4797 0.0082 248);
  --fg-tertiary-hover: oklch(0.8538 0.0047 258.33);
}

@theme inline {
  --std-duration: 300ms;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-accent: var(--accent);
  --color-accent-opposite: var(--accent-opposite);
  --color-accent-pale: var(--accent-pale);
  --color-accent-pale-hover: var(--accent-pale-hover);
  --color-accent-pale-pressed: var(--accent-pale-pressed);

  --color-backdrop: var(--backdrop);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-background-section-02: var(--background-section-02);
  --color-elevation-01: var(--elevation-01);
  --color-elevation-01-hover: var(--elevation-01-hover);
  --color-elevation-02: var(--elevation-02);
  --color-elevation-03: var(--elevation-03);

  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-border-hover: var(--border-hover);
  --color-border-focus: var(--border-focus);
  --color-border-negative: var(--border-negative);
  --color-border-pale: var(--border-pale);
  --color-border-pressed: var(--border-pressed);
  --color-border-transparent: var(--border-transparent);

  --color-negative: var(--negative);
  --color-negative-pale: var(--negative-pale);
  --color-positive: var(--positive);
  --color-positive-pale: var(--positive-pale);

  --color-categorical-23: var(--categorical-23);
  --color-education-green-pale: var(--education-green-pale);
  --color-expert-blue: var(--expert-blue);
  --color-expert-blue-pale: var(--expert-blue-pale);
  --color-expert-orange-pale: var(--expert-orange-pale);
  --color-optimistic-t-yellow-pale: var(--optimistic-t-yellow-pale);
  --color-sure-blue-pale: var(--sure-blue-pale);
  --color-sure-blue-transparent: var(--sure-blue-transparent);
  --color-sure-pink-pale: var(--sure-pink-pale);

  --color-fg-education-green: var(--fg-education-green);
  --color-fg-expert-blue: var(--fg-expert-blue);
  --color-fg-sure-pink: var(--fg-sure-pink);
  --color-fg-expert-orange: var(--fg-expert-orange);
  --color-fg-negative: var(--fg-negative);
  --color-fg-optimistic-t-yellow: var(--fg-optimistic-t-yellow);
  --color-fg-positive: var(--fg-positive);
  --color-fg-primary: var(--fg-primary);
  --color-fg-muted: var(--fg-muted);
  --color-fg-primary-on_dark: var(--fg-primary-on_dark);
  --color-fg-primary-opposite: var(--fg-primary-opposite);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-secondary-transparent: var(--fg-secondary-transparent);
  --color-fg-sure-blue: var(--fg-sure-blue);
  --color-fg-sure-pink: var(--fg-sure-pink);
  --color-fg-tertiary: var(--fg-tertiary);
  --color-fg-hover: var(--fg-hover);
  --color-fg-tertiary-hover: var(--fg-tertiary-hover);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-fg-primary;
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      sans-serif;
  }
}
